#gameBox{
  margin:0 auto;
  background: url("../img/carnival-border.png");
  height: 700px;
  width: 900px;
  background-size: 100% 100%;
}
#hideBox{

  margin: 0 auto;
  z-index:2;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color:white;
}
#content{
  margin: 200px auto;
  width: 40%;
  max-width: 500px;
  border: 2px dashed white;
  padding-bottom: 3em;
}
#winBox{
  display:none;
  margin: 0 auto;
  z-index:-1;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color:white;

}
#timer{
  position: relative;
  top: 180px;
  color: white;
  font-size: 40px;
}
#start{
  position: relative;
  left: 20px;
}
#shootBox{
  cursor: crosshair;
  text-align: left;
  background: black;
  position: relative;
  top: 135px;
  left: 86px;
  width: 742px;
  height: 472px;
}
.bull{
    position: relative;
    animation-name: topTarget;
    animation-duration: 1.9s;
    animation-iteration-count: 10000;
    animation-direction: alternate;
}
.duck{
  margin-top: 100px;
  position: relative;
  animation-name: bottomTarget;
  animation-duration: 1.5s;
  animation-iteration-count: 10000;
  animation-direction: alternate;
}
@keyframes topTarget {
    from {left: 0px;}
    to {left:100px;}
}
/*animation*/
@keyframes bottomTarget {
    from {left: 82px;}
    to {left:0;}
}
body{
  min-height: 1000px;
  text-align: center;

}
ul{
  list-style: none;
}
h2 {
  position:relative;
  left: 20px;
}

#ammoCount{
  display:block;
  position: absolute;
  height:400px;
  width: 25px;
  padding-left:20px;
  top: 170px;

}
#ammoCount img{
  padding-top: -5px;
}